.form-item {
  position: relative;
  &__label {
    position: absolute;
    vertical-align: middle;
    font-size: 16px;
    padding: 12px 6px 12px 0;
  }
  &__content {
    
  }
  &__error {
    position: absolute;
    z-index: 1;
    font-size: 12px;
    color: red;
    // color: #BC61A8;
    padding: 10px 10px;
  }
}
