.input-number {
    height: inherit;
    width: 100%;
    display: inline-block;
    position: relative;

    &__decrease, &__increase {
        cursor: pointer;
        display: inline-block;
        position: absolute;            
        height: 40px;
        width: 40px;
        z-index: 2;
        right: 0;
        top: 0;
        color: #b6b6b6; // nth($pe-greyscale-color-list, 4)

        i {            
            height: 100%;
            width: 100%;
            text-align: center;
            line-height: 40px;
        }
    }

    &__decrease {
        transform: translateY(0%) translateX(-40px) scale(0.9, 0.9);            
    }

    &__increase {
        transform: translateY(0%) scale(0.9, 0.9); 
    }

    &:hover,
    &.focus,
    &.valid {
        .input-number__decrease, .input-number__increase {
            color: #3fc7a6; // nth($pe-primary-color-list, 3)
        }

        .input__border {
            border-color: #3fc7a6;
            background-color: #3fc7a6;
            border-width: 3px 0 3px 0;
            border-radius: 4px;
            outline: none;
        }    
    }
}
