.pagination {     
    position: relative;
    white-space: normal;
    width: 100%;
    height: 100px;
    padding: 20px 0 20px 0;
    border-top: solid 2px #838383;
    border-bottom: solid 2px #838383;

    &__wrapper {
        /* display: table-row; */
        width: 100%;
        text-align: center;
        position: absolute;
        // Z-index puts the pagination above the rest of the page
        z-index: 1000;
        height: 60px;
    }

    &__sizes, &__jump, &__total, &__next, &__prev, .pager {
        display: inline-block;
        position: absolute;                  
    }

    &__wrapper, &__next, &__prev, .pager {
        top: 50%;
        transform: translateY(-50%);
    }

    &__sizes, &__jump {
        bottom: 50%;
        transform: translateY(50%);
    }

    &__next, &__prev {
        vertical-align: middle;
        z-index: 5;
        height: inherit;

        .circle-button {
          margin: 2px 0 0 0;
        }
    }

    &__sizes {
       min-width: 15%;
       left: 10%;
       z-index: 4;

       .select__border {
          border: none;          
       }

       .select__options .select__option {
          > div {
            width: 0%;
            transition: .15s all ease-in-out;
            transition-delay: 0.05s;
          }

          &:hover {
            > div {
                width: 80%;
            }
          }          
       }

       .select__placeholder {
          padding: 0.625rem 0.625rem 0.625rem 0.125rem;
       }

       .select__options .select__option {
          padding: 0.575rem 0.625rem 0.175rem 0.125rem;
       }      
    }

    &__prev {
      left: 0;
    }

    .pager {
        left: 0%;
        right: 0%;
        width: 100%;
        z-index: 3;
    }

    &__next {
      right: 0;      
    }    

    &__jump {
        vertical-align: middle;
        min-width: 100px;
        margin-bottom: -2px;
        right: 150px;
        z-index: 4;

        .input-number__decrease {
            left: 40%;
        }

        .input-number__decrease {
            right: 40%;
        }

        .input__input {
            text-align: center;
            bottom: 0;
        }

        .input__border {
          border: none;
        }
    }


    &__total {
        font-family: "cabinbold";
        color: #b6b6b6;
        right: 50px;
        width: 10%;
        // color: #3fc7a6;
    }
}