@import 'components/index';

$popper-bg: rgba(255, 193, 7, 1);


* {
  .dropdown__menu-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 15px;
  }
}
*[x-placement^="top"] {
  margin-bottom: 15px;
  .dropdown__menu-arrow {
    border-width: 15px 15px 0 15px;
    border-color: $popper-bg transparent transparent transparent;
    bottom: -15px;
    left: calc(50% - 15px);
    margin-top: 0;
    margin-bottom: 0;
  }
}
*[x-placement^="bottom"] {
  margin-top: 15px;
  .dropdown__menu-arrow {
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent $popper-bg transparent;
    top: -15px;
    left: calc(50% - 15px);
    margin-top: 0;
    margin-bottom: 0;
  }
}
*[x-placement^="right"] {
  margin-left: 15px;
  .dropdown__menu-arrow {
    border-width: 15px 15px 15px 0;
    border-color: transparent $popper-bg transparent transparent;
    left: -15px;
    top: calc(50% - 15px);
    margin-left: 0;
    margin-right: 0;
  }
}
*[x-placement^="left"] {
  margin-right: 15px;
  .dropdown__menu-arrow {
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent $popper-bg;
    right: -15px;
    top: calc(50% - 15px);
    margin-left: 0;
    margin-right: 0;
  }
}
