.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocomplete-suggestions {
    margin: 0;
    margin-top: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.04), 0 2px 4px 0 rgba(0,0,0,0.12);
    z-index: 1000;
    background-color: white;

    &__wrapper {
        max-height: 280px;
        overflow: auto;
        font-family: inherit;
    }

    &__item {
        list-style: none;
        line-height: 36px;
        padding: 0 10px;
        margin: 0;
        cursor: pointer;
        color: black;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            background-color: gray;
        }

        &.highlighted {
            background-color: blue;
            color: white;
        }
        &:active {
            background-color: darken(blue, 0.2);
        }
        &.divider {
            margin-top: 6px;
            border-top: 1px solid grey;
        }
        &.divider:last-child {
            margin-bottom: -6px;
        }
    }

    & .el-icon-loading {
        vertical-align: middle;
    }
}

.input-field--appended, 
.input-field--prepended {
    display: inline-block;
    width: 100%; 

    .input-field__prepend, .input-field__append {
        display: inline-block;
        width: 10%;        
    }

    .input-field__prepend {
        // margin-right: -1px;                
    }

    .input-field__append {
        margin-left: -2px;
    }

    .input {
        max-width: 80%;
        display: inline-block;
    }
}